In [21]:
my_student = {
    
  'name':'Rolf smith',
  'grades':[70,88,90,99],

}

def averageGrade(student):
  return sum(student['grades'])/len(student['grades'])


#print(averageGrade(my_student))

class Student:
  def __init__(self,new_name,new_grade):
    self.name = new_name
    self.grades = new_grade

  def average(self):
    return sum(self.grades)/len(self.grades)


student_one = Student("Rolf smith",[70,88,90,99])
student_two = Student("Rolf ",[75,82,96,99])
print(student_one.name)
print(student_one.grades)
print(student_one.average())
print(Student.average(student_one))
print("-----------------------------")
print(student_two.name)
print(student_two.grades)
print(student_two.average())
print(Student.average(student_two))

Rolf smith
[70, 88, 90, 99]
86.75
86.75
-----------------------------
Rolf
[75, 82, 96, 99]
88.0
88.0