In [ ]:
# Python3 program to find the prime
# numbers between a given interval

if __name__ == '__main__':
	
	# Declare the variables
	a, b, i, j, flag = 0, 0, 0, 0, 0

	# Ask user to enter lower value of interval
	print("Enter lower bound of the interval:",
									end = "")
	a = int(input()) # Take input
	print(a)
	
	# Ask user to enter upper value of interval
	print("Enter upper bound of the interval:",
									end = "")
	b = int(input()) # Take input
	print(b)
	
	# Print display message
	print("Prime numbers between", a, "and",
						b, "are:", end = "")

	# Traverse each number in the interval
	# with the help of for loop
	for i in range(a, b + 1):

		# Skip 1 as1 is neither
		# prime nor composite
		if (i == 1):
			continue

		# flag variable to tell
		# if i is prime or not
		flag = 1
		
		for j in range(2, i // 2 + 1):
			if (i % j == 0):
				flag = 0
				break
			
		# flag = 1 means i is prime
		# and flag = 0 means i is not prime
		if (flag == 1):
			print(i, end = " ")
			
# This code is contributed
# by Mohit kumar 29

In [10]:
n = int(input())
userInput = [int(n) for n in input().split()]
val = int(input())
for i in userInput:
  if(val%i==0):
    count=count+1
  else:
    i = abs(i)
    if(val%i==0):
      count=count+1
print(count)

7
20 10 9 8 -7 5 -13
20
6

In [8]:
def f(userInput):
  count=0
  for i in userInput:
    number = abs(i)
    if(round(i ** (1 / 3)) ** 3 == i):
      count=count+1
  return count


n = int(input())
userInput = [int(n) for n in input().split()]
print(f(userInput))

6
125 216 54 81 48 343
3

In [6]:
import math
count=0
number = int(input())
userInput = [int(n) for n in input().split()]
for i in userInput:
  root = math.sqrt(i)
  if(int(root+0.5)**3==i):
    count=count+1
print(count)

6
25 216 54 81 48 343
0

In [5]:
1
def perfectCube(userInput):
    count=0
    cube = 0
    for i in userInput:
      cube = i * i * i;
      if (cube == i) :
        count=count+1
    return count
n = int(input())
userInput = [int(n) for n in input().split()]
print(perfectCube(userInput))

# This code is contributed by Yash_R

5
125 216 54 81 48 343
0

In [ ]:
12 pip install --user -U nltk

Requirement already satisfied: nltk in /root/.local/lib/python3.7/site-packages (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.62.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /root/.local/lib/python3.7/site-packages (from nltk) (2022.1.18)

In [ ]:
from nltk.tokenize import word_tokenize 
import nltk
nltk.download('punkt')

In [ ]:

text = """Blessed are the poor in spirit, for theirs is the kingdom of heaven. Blessed are those who mourn, for thy will be conforted. Bleassed are the meek, for htey will inherit the earth. Matthew 5:3-5"""
tokens = word_tokenize(text)
print(tokens)
filtered_sentence = (" ").join(tokens_without_sw)
print(filtered_sentence)

['Blessed', 'are', 'the', 'poor', 'in', 'spirit', ',', 'for', 'theirs', 'is', 'the', 'kingdom', 'of', 'heaven', '.', 'Blessed', 'are', 'those', 'who', 'mourn', ',', 'for', 'thy', 'will', 'be', 'conforted', '.', 'Bleassed', 'are', 'the', 'meek', ',', 'for', 'htey', 'will', 'inherit', 'the', 'earth', '.', 'Matthew', '5:3-5']
Blessed are the poor in spirit , for theirs is the kingdom of heaven . Blessed are those who mourn , for thy will be conforted . Bleassed are the meek , for htey will inherit the earth . Matthew 5:3-5

In [ ]:
from gensim.parsing.preprocessing import remove_stopwords

text = filtered_sentence
filtered_sentence = remove_stopwords(text)

print(filtered_sentence)

Blessed poor spirit , theirs kingdom heaven . Blessed mourn , thy conforted . Bleassed meek , htey inherit earth . Matthew 5:3-5

In [ ]:
my_student = {
    
  'name':'Rolf smith',
  'grades':[70,88,90,99],

}

def averageGrade(student):
  return sum(student['grades'])/len(student['grades'])


#print(averageGrade(my_student))

class Student:
  def __init__(self,new_name,new_grade):
    self.name = new_name
    self.grades = new_grade

  def average(self):
    return sum(self.grades)/len(self.grades)


student_one = Student("Rolf smith",[70,88,90,99])
student_two = Student("Rolf ",[75,82,96,99])
print(student_one.name)
print(student_one.grades)
print(student_one.average())
print(Student.average(student_one))
print("-----------------------------")
print(student_two.name)
print(student_two.grades)
print(student_two.average())
print(Student.average(student_two))

Rolf smith
[70, 88, 90, 99]
86.75
86.75
-----------------------------
Rolf
[75, 82, 96, 99]
88.0
88.0